.contacts {
  display: flex;
  flex-direction: column;
  gap: 35px;

  width: 100%;
}
.contacts__header .link svg {
  transform: rotate(180deg);
}
.contacts__header {
  position: relative;
}
.contacts__header .link {
  position: absolute;
  top: 5px;
  left: 0;
}
.contacts__send-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.contacts__validation-message {
  text-align: center;
  font-size: 18px;
  color: red;
  opacity: .5;
}