.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;

  margin: 40px auto;
}
.form-buttons__save {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;

  padding: 10px 30px;

  color: var(--secondary);
  border: 1px solid var(--secondary) !important;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}
.form-buttons__cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;

  padding: 10px 30px;

  background-color: inherit;
  color: var(--secondary);
  border: 1px solid var(--secondary) !important;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;

  transition: all .3s;
}
.form-buttons__cancel:hover {
  background-color: var(--secondary);
  color: #fff;
}