.professional-skills__item {
  display: flex;
  flex-direction: column;

  margin: 0 40px 0 20px;

  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.professional-skills__accordion-header {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 15px 0;

  border-bottom: 1px solid #e5e5e5 !important;
}
.professional-skills__accordion-body {
  padding: 15px 0;
  margin-left: 35px;
}
.professional-skills__accordion-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.professional-skills__accordion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.professional-skills__accordion-item span {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
}
.professional-skills__label {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
}
.professional-skills__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 20px;

  background-color: inherit;
  color: var(--secondary);
  border: 1px solid var(--secondary) !important;
  border-radius: 5px;
  cursor: pointer;
}
.professional-skills__btn:hover {
  color: #fff;
  background-color: var(--secondary);
}