.professional-skills__item {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 15px 0;
  margin: 0 40px;

  border-bottom: 1px solid #e5e5e5 !important;
  cursor: pointer;
}
.professional-skills__label {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
}
.professional-skills__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 25px;

  background-color: inherit;
  color: var(--secondary);
  border: 1px solid var(--secondary) !important;
  border-radius: 5px;
  cursor: pointer;
}
.professional-skills__btn:hover {
  color: #fff;
  background-color: var(--secondary);
}