.professional-skills__item {
  display: flex;
  flex-direction: column;

  margin-right: 40px;

  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.professional-skills__additional {
  flex-direction: column;
  align-items: flex-start !important;
}
.professional-skills__accordion-header {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 15px 0;

  border-bottom: 1px solid var(--border-line-light) !important;
}
.professional-skills__accordion-body{
  max-height: 1000px;
  padding: 15px 0 15px 35px;
  border-bottom: 1px solid var(--border-line-light) !important;
  overflow: hidden;
  transition: max-height 1s ease-in-out, padding .3s;
}
.professional-skills__additional-body {
  max-height: 1000px;
  padding: 15px 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 1s ease-in-out, padding .3s;
}
.professional-skills__accordion-body[aria-expanded="true"],
.professional-skills__additional-body[aria-expanded="true"] {
  padding: 0 0 0 35px;
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), padding .3s;
}
.professional-skills__additional-body[aria-expanded="true"] {
  padding: 0;
}
.professional-skills__dropdown-indicator {
  margin: 0 0 3px 0;
  transform: rotateX(0);
  transition: margin .5s, transform .5s;
}
.professional-skills__dropdown-indicator[aria-expanded="true"] {
  margin: 3px 0 0 0;
  transform: rotateX(180deg);
}
.professional-skills__accordion-list,
.professional-skills__additional-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.professional-skills__accordion-item,
.professional-skills__additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.professional-skills__additional-header span,
.professional-skills__accordion-item span {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
}
.professional-skills__label {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
}
.professional-skills__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 20px;

  background-color: inherit;
  color: var(--secondary);
  border: 1px solid var(--secondary) !important;
  border-radius: 5px;
  cursor: pointer;
}
.professional-skills__btn:hover {
  color: #fff;
  background-color: var(--secondary) !important;
}
.professional-skills__additional-header {
  display: flex;
  align-items: center;
  gap: 5px;
  
  margin-top: 20px;

  background-color: inherit;
  cursor: pointer;
}
.professional-skills__additional-header span {
  color: var(--secondary-light);
  font-size: 14px;
  margin-bottom: 2px;
}
.professional-skills__additional-header svg path {
  stroke: var(--secondary-light);
}