.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;

  line-height: 16px;

  transition: all .3s;
}
.btn-filled {
  background-color: var(--secondary);
  color: #fff;
}
.btn-small {
  font-size: 16px;
  padding: 2px 20px 4px 20px;
  border-radius: 5px;
  width: 100px;
}
.btn-normal {
  font-size: 24px;
  padding: 16px 30px;
  border-radius: 10px;
  min-width: 200px;
}
.btn-outlined {
  background-color: inherit;
  color: var(--secondary);
  border: 1px solid var(--secondary) !important;
}
.btn-outlined:hover {
  background-color: var(--secondary);
  color: #fff;
}