.personal-skills {
  display: flex;
  flex-direction: column;
}
.personal-skills__title {
  padding: 20px;
}
.personal-skills__search {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 60px;
}
.personal-skills__title:first-child {
  border-bottom: 1px solid var(--border-line) !important;
}
.personal-skills__recommended-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 20px;

  padding: 0 20px 20px 40px;

  border-bottom: 1px solid var(--border-line) !important;
}
.personal-skills__apply-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 20px;

  padding: 20px 20px 20px 40px;

  border-bottom: 1px solid var(--border-line) !important;
}
.skills__item_selected {
  background-color: var(--secondary);
}
.skills__item_selected span {
  color: #fff;
}
