.personal-skills {
  display: flex;
  flex-direction: column;
}
.personal-skills__title {
  padding: 20px;
}
.personal-skills__title:first-child {
  border-bottom: 1px solid var(--border-line) !important;
}
.personal-skills__input {
  display: flex;
  align-items: center;

  height: 60px;
  width: 100%;

  padding-left: 20px;

  border-bottom: 1px solid var(--border-line) !important;
  cursor: pointer;
}
.personal-skills__input input {
  width: 100%;
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
}
.personal-skills__search {
  padding: 20px;
}
.personal-skills__search svg {
  width: 20px;
  height: 20px;
  background-color: inherit;
}
.personal-skills__recommended-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 20px;

  padding: 0 20px 20px 40px;
}
.personal-skills__apply-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 20px;

  padding: 20px 20px 20px 40px;

  border-top: 1px solid var(--border-line) !important;
}
.personal-skills__apply-list li {
  background-color: var(--secondary) !important;
}
.personal-skills__apply-list span {
  color: #fff;
}
