.professional-skills {
  display: flex;
  flex-direction: column;
}
.professional-skills__title {
  padding: 20px 20px 20px 40px;
  border-bottom: 1px solid var(--border-line) !important;
}
.professional-skills__list {
  padding-left: 20px;
}