.personal-skills__item {
  display: flex;
  align-items: center;
  gap: 22px;

  padding: 10px 20px;

  background-color: #f8f8f8;
  color: #5b5b5b;
  border-radius: 5px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}
.personal-skills__item svg {
  cursor: pointer;
}