:root {
  --main: #484C51;
  --secondary: #2183aa;
  --secondary-light: #7AB5CC;
  --border-line: #A0A6B1;
  --border-line-light: #e5e5e5;
}
h1 {
  color: var(--main);
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Intro', Serif;
}
.App {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #F7F8FC;
}
.main {
  flex: 1 1 auto;
  overflow: hidden;
  background-color: #F7F8FC;
  padding: 50px 0 160px 0;
}
#root,
.App {
  width: 100%;
}
.wrapper {
  max-width: 1120px;
  width: 100%;

  margin: 0 auto;
  padding: 20px;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding-bottom: 50px;

  background-color: #fff;
  border-radius: 10px;
}
.main__table-wrapper {
  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
}
.main__table-wrapper h2 {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Intro', serif;
  text-align: center;
  margin: 30px 0;
}
.main__header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.main__header-btn {
  display: flex;
  align-items: center;
  gap: 15px;

  position: absolute;
  left: 0;

  cursor: pointer;
  background: inherit;
}
.main__header-btn span {
  font-size: 18px;
  font-family: 'Intro', serif;
  color: var(--secondary);
}
.main__header-btn svg {
  transform: rotateY(180deg);
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
  min-height: 400px;

  padding: 0 20px;

  transition: height 1s;
  transition-duration: .3s;
}
.title {
  font-size: 20px;
  font-family: 'Intro', Serif;
}
.skills {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-line);
}
