@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Thin.eot');
  src: local('Intro-Thin'),
  url('../fonts/Intro-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Thin.woff2') format('woff2'),
  url('../fonts/Intro-Thin.woff') format('woff'),
  url('../fonts/Intro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Black.eot');
  src: local('Intro-Black'),
  url('../fonts/Intro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Black.woff2') format('woff2'),
  url('../fonts/Intro-Black.woff') format('woff'),
  url('../fonts/Intro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Bold.eot');
  src: local('Intro-Bold'),
  url('../fonts/Intro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Bold.woff2') format('woff2'),
  url('../fonts/Intro-Bold.woff') format('woff'),
  url('../fonts/Intro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Light.eot');
  src: local('Intro-Light'),
  url('../fonts/Intro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Light.woff2') format('woff2'),
  url('../fonts/Intro-Light.woff') format('woff'),
  url('../fonts/Intro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Regular.eot');
  src: local('Intro-Regular'),
  url('../fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Regular.woff2') format('woff2'),
  url('../fonts/Intro-Regular.woff') format('woff'),
  url('../fonts/Intro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Intro Book';
  src: url('../fonts/Intro-Book.eot');
  src: local('Intro-Book'),
  url('../fonts/Intro-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Book.woff2') format('woff2'),
  url('../fonts/Intro-Book.woff') format('woff'),
  url('../fonts/Intro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  color: #2d2d2d;
  font-family: "Intro", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  vertical-align: baseline;
}
*:focus,
*:active,
*:hover {
  border: none;
  outline: none;
}
ul, ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
html, body {
  overflow-x: hidden;
  position: relative;
}
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}