.btn-next__container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  
  margin-top: auto;

  opacity: 0;

  pointer-events: none;
  transition: opacity .4s;
}
.btn-next__container_active {
  opacity: 1;
  pointer-events: visible;
}
.btn-next__container_active
.btn-next,
.btn-corp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: inherit;
  cursor: pointer;
}
.btn-next:hover span {
  color: var(--secondary);
}
.btn-next:hover svg path {
  stroke: var(--secondary);
}
.btn-next span,
.btn-corp span {
  margin-bottom: 4px;
  color: var(--secondary);
  font-size: 24px;
}
.btn-corp svg {
  transform: rotateZ(180deg);
}